# 3803ICT Big Data Analysis Assignment

### Tyler Waugh and Long Nguyen

In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [32]:
df = pd.read_csv('./data.csv')

# Check data types
df.dtypes

C:\Dev_Tools\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (0,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Id                   object
Title                object
Company              object
Date                 object
Location             object
Area                 object
Classification       object
SubClassification    object
Requirement          object
FullDescription      object
LowestSalary          int64
HighestSalary         int64
JobType              object
dtype: object

In [33]:
df.head()

,Id,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType
0,37404348,Casual Stock Replenisher,Aldi Stores,2018-10-07T00:00:00.000Z,Sydney,North West & Hills District,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0,30,NaN
1,37404337,Casual Stock Replenisher,Aldi Stores,2018-10-07T00:00:00.000Z,Richmond & Hawkesbury,NaN,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0,30,NaN
2,37404356,RETAIL SALES SUPERSTARS and STYLISTS Wanted - ...,LB Creative Pty Ltd,2018-10-07T00:00:00.000Z,Brisbane,CBD & Inner Suburbs,Retail & Consumer Products,Retail Assistants,BRAND NEW FLAGSHIP STORE OPENING - SUNSHINE PLAZA,NaN,0,30,NaN
3,37404330,Team member - Belrose,Anaconda Group Pty Ltd,2018-10-07T00:00:00.000Z,Gosford & Central Coast,NaN,Retail & Consumer Products,Retail Assistants,Bring it on - do you love the great outdoors a...,NaN,0,30,NaN
4,37404308,"Business Banking Contact Centre Specialist, Ni...",Commonwealth Bank - Business & Private Banking,2018-10-07T00:00:00.000Z,Sydney,Ryde & Macquarie Park,Call Centre & Customer Service,Sales - Inbound,"We are seeking highly articulate, enthusiastic...",NaN,0,30,NaN

#### Clean Data

In [67]:
# Check for missing values in columns and print results
print('Missing Values (Counts):\nTitle: ', df[df['Title'].isna()].shape[0],
      '\nCompany: ', df[df['Company'].isna()].shape[0],
      '\nDate: ', df[df['Date'].isna()].shape[0],
      '\nLocation: ', df[df['Location'].isna()].shape[0],
      '\nArea: ', df[df['Area'].isna()].shape[0],
      '\nClassification: ', df[df['Classification'].isna()].shape[0],
      '\nSubClassification: ', df[df['SubClassification'].isna()].shape[0],
      '\nRequirement: ', df[df['Requirement'].isna()].shape[0],
      '\nFullDescription: ', df[df['FullDescription'].isna()].shape[0],
      '\nLowestSalary: ', df[df['LowestSalary'].isna()].shape[0],
      '\nHighestSalary: ', df[df['HighestSalary'].isna()].shape[0],
      '\nJobType: ', df[df['JobType'].isna()].shape[0], sep='')

# Convert Date column to datetime format
df['Date'] = pd.to_datetime(df['Date'],infer_datetime_format=True)

# Show converted types
print('\n\nConverted Types:')
df.dtypes

Missing Values (Counts):
Title: 0
Company: 12004
Date: 0
Location: 121248
Area: 195819
Classification: 121248
SubClassification: 121248
Requirement: 7
FullDescription: 16175
LowestSalary: 0
HighestSalary: 0
JobType: 16098


Converted Types:

Title                        object
Company                      object
Date                 datetime64[ns]
Location                     object
Area                         object
Classification               object
SubClassification            object
Requirement                  object
FullDescription              object
LowestSalary                  int64
HighestSalary                 int64
JobType                      object
dtype: object

#### Remove Unnecessary Rows / Columns

In [39]:
# Remove Id
df = df.drop('Id',axis=1)

In [40]:
df.head(30)

,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType
0,Casual Stock Replenisher,Aldi Stores,2018-10-07,Sydney,North West & Hills District,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0,30,NaN
1,Casual Stock Replenisher,Aldi Stores,2018-10-07,Richmond & Hawkesbury,NaN,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0,30,NaN
2,RETAIL SALES SUPERSTARS and STYLISTS Wanted - ...,LB Creative Pty Ltd,2018-10-07,Brisbane,CBD & Inner Suburbs,Retail & Consumer Products,Retail Assistants,BRAND NEW FLAGSHIP STORE OPENING - SUNSHINE PLAZA,NaN,0,30,NaN
3,Team member - Belrose,Anaconda Group Pty Ltd,2018-10-07,Gosford & Central Coast,NaN,Retail & Consumer Products,Retail Assistants,Bring it on - do you love the great outdoors a...,NaN,0,30,NaN
4,"Business Banking Contact Centre Specialist, Ni...",Commonwealth Bank - Business & Private Banking,2018-10-07,Sydney,Ryde & Macquarie Park,Call Centre & Customer Service,Sales - Inbound,"We are seeking highly articulate, enthusiastic...",NaN,0,30,NaN
5,"Business Banking Contact Centre Specialist, Ni...",Commonwealth Bank - Business & Private Banking,2018-10-07,Sydney,Ryde & Macquarie Park,Call Centre & Customer Service,Customer Service - Call Centre,"We are seeking highly articulate, enthusiastic...",NaN,0,30,NaN
6,Casual Café All-rounder in Semaphore,Jora Local,2018-10-07,Adelaide,NaN,Hospitality & Tourism,Waiting Staff,A cafe/restaurant in Semaphore is seeking a ca...,NaN,0,30,NaN
7,Casual Café All-rounder in Woolloongabba,Jora Local,2018-10-07,Brisbane,CBD & Inner Suburbs,Hospitality & Tourism,Waiting Staff,A cafe in Woolloongabba is seeking a casual Ca...,NaN,0,30,NaN
8,Telemarketer,Reventon Investments,2018-10-07,Melbourne,CBD & Inner Suburbs,Call Centre & Customer Service,Sales - Outbound,Market leading investment & financial services...,NaN,0,30,NaN
9,Casual Dish Hand in Brighton,Jora Local,2018-10-07,Melbourne,Bayside & South Eastern Suburbs,Hospitality & Tourism,Kitchen & Sandwich Hands,A restaurant in Brighton is seeking a casual D...,NaN,0,30,NaN
10,Sales and Service Banking Consultant,Hays Talent Solutions,2018-10-07,Adelaide,NaN,Banking & Financial Services,Banking - Retail/Branch,We currently have an exciting part-time opport...,NaN,0,30,NaN
11,Customer Service Client Nurturer,NaN,2018-10-07,Melbourne,CBD & Inner Suburbs,Call Centre & Customer Service,Customer Service - Customer Facing,"Immediate start - We love our clients, it's yo...",NaN,0,30,NaN
12,Functions Supervisor - Perth Zoo,Mustard Catering,2018-10-07,Perth,NaN,Hospitality & Tourism,Bar & Beverage Staff,Casual Food and Beverage Supervisor,NaN,0,30,NaN
13,BPV_Utility All Rounders_Casual,ISS Facility Services,2018-10-07,Mackay & Coalfields,NaN,Hospitality & Tourism,Housekeeping,An exciting opportunity exists for Casual DIDO...,NaN,0,30,NaN
14,Casual Cleaner in Kew,Jora Local,2018-10-07,Melbourne,Eastern Suburbs,Hospitality & Tourism,Housekeeping,A restaurant in Kew is seeking a casual Cleane...,NaN,0,30,NaN
15,Customer Service Officer,NaN,2018-10-07,Sunshine Coast,NaN,Call Centre & Customer Service,Customer Service - Call Centre,An opportunity for a customer service-focused ...,NaN,0,30,NaN
16,Sales and Service Banking Consultant,Hays Talent Solutions,2018-10-07,Adelaide,NaN,Retail & Consumer Products,Retail Assistants,We currently have an exciting part-time opport...,NaN,0,30,NaN
17,Maintenance Assistant Part-Time,Costco Wholesale,2018-10-07,Melbourne,Eastern Suburbs,Retail & Consumer Products,Other,Provides janitorial services and general maint...,NaN,0,30,NaN
18,Telstra Retail Sales & Service Consultant - Ca...,TLS Airport West,2018-10-07,Melbourne,Western Suburbs,Retail & Consumer Products,Retail Assistants,A great opportunity to join the retail team at...,NaN,0,30,NaN
19,Assembler,Zoom Recruitment & Training,2018-10-07,Sydney,Parramatta & Western Suburbs,"Manufacturing, Transport & Logistics",Assembly & Process Work,"Our Client, located in Sydney West, has roles ...",NaN,0,30,NaN
20,Procurement Officer,Perspective Recruitment,2018-10-07,Melbourne,Northern Suburbs,"Manufacturing, Transport & Logistics","Purchasing, Procurement & Inventory",The role would be ideal for one that has a nat...,NaN,0,30,NaN
21,Casual Barista in Murarrie,Jora Local,2018-10-07,Brisbane,CBD & Inner Suburbs,Hospitality & Tourism,Bar & Beverage Staff,A cafe in Murarrie is seeking a casual Barista...,NaN,0,30,NaN
22,Sales and Service Banking Consultant,Hays Talent Solutions,2018-10-07,Adelaide,NaN,Banking & Financial Services,Banking - Retail/Branch,We currently have an exciting full time opport...,NaN,0,30,NaN
23,Casual Barista in Richmond,Jora Local,2018-10-07,Melbourne,CBD & Inner Suburbs,Hospitality & Tourism,Bar & Beverage Staff,A cafe in Richmond is seeking a casual Barista...,NaN,0,30,NaN
24,Sales and Service Banking Consultant,Hays Talent Solutions,2018-10-07,Adelaide,NaN,Sales,Sales Representatives/Consultants,We currently have an exciting part-time opport...,NaN,0,30,NaN
25,Casual Cook in Palm Beach,Jora Local,2018-10-07,Gold Coast,NaN,Hospitality & Tourism,Chefs/Cooks,A cafe/restaurant in Palm Beach is seeking a c...,NaN,0,30,NaN
26,Clinical Document Processing and Quality Assur...,West Moreton Hospital and Health Service,2018-10-07,Brisbane,Western Suburbs & Ipswich,Administration & Office Support,Records Management & Document Control,administrative and systems support in relation...,NaN,0,30,NaN
27,Investment Accountant - NAB Asset Servicing,National Australia Bank,2018-10-07,Sydney,"CBD, Inner West & Eastern Suburbs",Banking & Financial Services,Analysis & Reporting,Entry level opportunity in Investment Accounti...,NaN,0,30,NaN
28,Casual Cook in Melbourne,Jora Local,2018-10-07,Melbourne,CBD & Inner Suburbs,Hospitality & Tourism,Chefs/Cooks,A business in Melbourne is seeking a casual Co...,NaN,0,30,NaN
29,Office Administrator - 4 days per week,Accountancy Connect,2018-10-07,Melbourne,Bayside & South Eastern Suburbs,Administration & Office Support,Office Management,Wonderful role based in Cheltenham. Four days ...,NaN,0,30,NaN

## 1) Describe the dataset.
+ What are the categories/domains of the dataset?
+ What is the dataset size of each variation?
+ What is dataset structure/format?
+ What are attributes/features of review data you are going to use?
+ What are attributes/features of product data you are going to use?
+ Which parts of the dataset will you use or all of them?

+ What are the categories/domains of the dataset?

The dataset provided for analysis is one comprised of various job postings obtained from the website Seek. Seek is one of the largest employment sites in Australia, and therefore is a good representation of the depth of the current job market.  The dataset contains 13 columns and 318477 rows, with types summarised in the following table.

| Columns   |  Data Types   |
|:-----------|:-------------:|
| Id | int64  |
| Title |String   |
| Company |String |
| Date | datetime|
| Location | String|
| Area | String|
| Classification | String|
| Sub Classification |String |
| Requirement |String |
| Full Description |String |
| Lowest Salary |int64 |
| Highest Salary | int64|
| JobType |String |

+ What is the dataset size of each variation?

| Columns   |  Data Types   |
|:-----------|:-------------:|
| Id | int64  |
| Title |String   |
| Company |String |
| Date | datetime|
| Location | String|
| Area | String|
| Classification | String|
| Sub Classification |String |
| Requirement |String |
| Full Description |String |
| Lowest Salary |int64 |
| Highest Salary | int64|
| JobType |String |

+ What is dataset structure/format? CSV????

+ What are attributes/features of review data you are going to use?
We think we're going to look at everything except for ID, and Full Description. Probably?

In [17]:
df['JobType'].unique()

array([nan, 'Full Time', 'Contract/Temp', 'Part Time', 'Casual/Vacation'],
      dtype=object)

## 3) What is your hypothesis (expectation) about the analysis outcome?

+ Average Salary per Location
+ Bigger city has higher average salary (looking at the variation of salaray within that city)
+ If there's more demand for a certain type of job classification, salary would be higher

# Part 2 – Data Analysis and Interpretation